#set($exampleMap = {
    "id": $context.arguments.id,
    "name": "$context.arguments.name",
    "capitalizedName": $context.arguments.name.toUpperCase()
})

{
    "version" : "2017-02-28",
    "operation": "Invoke",
    "payload": $util.toJson($exampleMap)
}