<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <!-- CDN의 경우 향후 실제 Edge에 배포시 제거히고, 로컬에 js 파일 배포 필요-->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename='js/index.js') }}"></script>
    <title>로컬 모니터링 시스템</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<style>
    td{
        background-color:#4c4c4c;
        font-size:200%;
        color: red;
    }
</style>

</head>
<body>
  <div style="height:100%">
    <table style="height:100%">
        <tr>
        <td>
            <div style="height:90%; width:100%;">
                <div style="text-align: center;">
                    <h1 id = 'sensor_name' class ="value_font" >센서1번</h1>
                </div>
                <div style= "margin-top:10%; text-align:center;">
                    <h1 id ='data_1'>0</h1>
                </div>
            </div>
        </td>
        <td>
            <div style="height:90%; width:100%;">
                <div style="text-align: center;">
                    <h1 id = 'sensor_name_2' class ="value_font" >센서2번</h1>
                </div>
                <div style= "margin-top:10%; text-align:center;">
                    <h1 id='data_2'>0</h1>
                </div>
            </div>
        </td>
        </tr>
        <tr>
        <td>
            <div style="height:90%; width:100%;">
                <div style="text-align: center;">
                    <h1 id = 'sensor_name_3' class ="value_font" >센서3번</h1>
                </div>
                <div style= "margin-top:10%; text-align:center;">
                    <h1 id='data_3'>0</h1>
                </div>
            </div>
        </td>
        <td>
            <div style="height:90%; width:100%;">
                <div style="text-align: center;">
                    <h1 id = 'sensor_name_4' class ="value_font" >센서4번</h1>
                </div>
                <div style= "margin-top:10%; text-align:center;">
                    <h1 id ='data_4'>0</h1>
                </div>
            </div>
        </td>
        </tr>
    </table>
    </div>
</body>
</html>