<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <!-- CDN의 경우 향후 실제 Edge에 배포시 제거히고, 로컬에 js 파일 배포 필요-->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename='js/main.js') }}"></script>
    <title>로컬 모니터링 시스템</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </style>
</head>
<body>
  <div style="height:100%">
    <table style="height:100%">
        <tr>
        <td id="value_1">
            <div style="height:100%; width:50%;">
                <div>
                    <font id = 'sensor_name' class ="value_font" >센서1번</font>
                </div>
                <div style="margin-top: 30%;text-align:center;">
                    <font id ='data_1' style="font-size:400%;color: white;">0</font>
                </div>
            </div>
        </td>
        <td id = "value_2">
            <div style="height:100%; width:50%;">
                <div>
                    <font id = 'sensor_name_2' class ="value_font" >센서2번</font>
                </div>
                <div style="margin-top: 30%; text-align:center;">
                    <font id='data_2' style="font-size:400%;color: white;">0</font>
                </div>
            </div>
        </td>
        </tr>
        <tr>
        <td id = "value_3">
            <div style="height:100%; width:50%;">
                <div>
                    <font id = 'sensor_name_3' class ="value_font" >센서3번</font>
                </div>
                <div style="margin-top: 30%; text-align:center;">
                    <font id='data_3' style="font-size:400%;color: white;">0</font>
                </div>
            </div>
        </td>
        <td id = "value_4">
            <div style="height:100%; width:50%;">
                <div>
                    <font id = 'sensor_name_4' class ="value_font" >센서4번</font>
                </div>
                <div style="margin-top: 30%; text-align:center;">
                    <font id ='data_4' style="font-size:400%;color: white;">0</font>
                </div>
            </div>
        </td>
        </tr>
    </table>
    </div>
</body>
</html>