<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type = "text/javascript" src = "{{ url_for('static', filename='js/main.js') }}"></script>
    </style>
</head>
<body>
  <div class='outer_table' style="height:100%">
	<table style="height:100%">
        <tr>
        <td>
            <div class='value_label'>
                <p class='value_num' id='value_1'></p>
            </div>
        </td>
        <td></td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        </tr>
    </table>
    </div>
</body>
</html>